body {
  font-family: "Cinzel", serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #070220;
}

.logo {
  height: 80px;
  display: block;
}

.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  color: #f5f5f5;

  background-image: url("../images/hero-picture.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.hero-content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.characters-btn {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border: none;
  padding: 10px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.characters-btn:hover {
  background-color: #d3a611;
  color: black;
  transform: scale(1.05);
  text-decoration: underline;
}

#Characters {
  scroll-margin-top: 100px;
}
